@import '../../../variables.scss';

.card_root {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: linear-gradient(180deg, rgba(215, 253, 255, 1) 0%, $primary 100%);
  margin-bottom: 50px;
  max-width: 350px;
  width: 100%;

  @include screen('tablet-small') {
    margin-left: 10px;
    margin-right: 10px;
  }

  @include dotted-shadow;

  .card_content {
    padding: 20px;
    margin-bottom: 40px;

    hgroup {
      h3 {
        @include accentHeader;
      }
      h4 {
        font-size: $h3;
      }
    }
  }

  .card_icon {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: $secondary;
    box-shadow: -5px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -20px;
    right: -10px;
    font-size: 30px;
  }

  .card_button {
    font-size: 24px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
