.shiny_boi {
  --px: 0;
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  @media (hover: hover) {
    &:hover:after {
      opacity: 0.2;
    }
  }

  &:after {
    --bgColor: var(--color, rgba(255, 255, 255, 0.5));
    content: '';
    pointer-events: none;
    top: 0;
    left: 0;
    transition: opacity 0.3s linear;
    position: absolute;
    width: 240px;
    height: 100%;
    background: linear-gradient(
      90deg,
      transparent,
      var(--bgColor) 45%,
      var(--bgColor) 55%,
      transparent 100%
    );
    opacity: 0;
    z-index: 9999;
    transform: translateX(calc(var(--px) * 1px)) translateX(-50%);
  }
}
