/* Colours */

$primary: #A6EDFC;          //Light Blue
$secondary: #B0FFE9;        //Light Green
$primary-dark: #172A3A;     //Dark Blue
$background: #D7FDFF;       //Light Light Blue
$accent: #001AFF;           //Stronk Blue, Listen there are a lot of blues ok?
$black: #171717;            //Black
$white: #ffffff;            //White
$neutral: #8C8C8C;          //Gray

/* Font */

$h1: 45px;
$h2: 32px;
$h3: 28px;
$h4: 20px;

$font-family: 'HK Grotesk', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

@mixin accentHeader {
  font-family: $font-family;
  text-transform: uppercase;
}

/* Margins */
$m1: 8px;
$m2: 16px;
$m3: 24px;
$m4: 32px;
$m5: 40px;

/* Structure*/

$border-radius: 5px;
$border-width: 5px;

/* Screen Size */

$content-max-width: 1200px;
$breakpoints: (
    "phone":        400px,
    "phone-wide":   480px,
    "phablet":      560px,
    "tablet-small": 640px,
    "tablet":       768px,
    "tablet-wide":  1024px,
    "desktop":      1248px,
    "desktop-wide": 1440px
);

@mixin screen($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin container {
    margin-left: 10vw;
    margin-right: 10vw;
    @include screen("desktop-wide") {
        margin-left: auto;
        margin-right: auto;
        max-width: $content-max-width;
    }
}