@import '../../../variables.scss';

.root {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 10px;
    }
    .chapter_count {
      margin-top: 10px;
      margin-bottom: 36px;
      background-color: $secondary;
      text-align: center;
      font-size: 12px;
      padding: 6px 10px;
      border-radius: 20px;
      color: $primary-dark;
      text-transform: uppercase;
    }

    @include screen(tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 36px 0;

      h2,
      .chapter_count {
        margin: 0;
      }
    }
  }
}

.chapter_select_ribbon {
  width: 100%;
  white-space: nowrap;
  border-bottom: solid 1px lightgray;
  margin-bottom: 12px;
  overflow: hidden;

  .chapter_select_option_container {
    transition: transform 0.3s;

    .chapter_select_option {
      box-sizing: content-box;
      transition: background-color 0.2s;
      padding: 10px 20px;
      &.selected {
        border-bottom: solid 5px $accent;
      }
      &:focus,
      &:hover {
        outline: 0;
        background-color: rgba($primary-dark, 0.2);
      }
    }
    .chapter_select_option:first-child {
      margin-left: 0;
    }
  }
}
