@import '../../../variables.scss';

.root {
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin-bottom: 10px;
    }
    .chapter_count {
      margin-top: 10px;
      margin-bottom: 36px;
      background-color: $secondary;
      text-align: center;
      font-size: 12px;
      padding: 6px 10px;
      border-radius: 20px;
      color: $primary-dark;
      text-transform: uppercase;
    }

    @include screen(tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 36px 0;

      h2,
      .chapter_count {
        margin: 0;
      }
    }
  }

  .chapter_select_ribbon {
    width: 100%;
    white-space: nowrap;
    border-bottom: solid 1px lightgray;
    margin-bottom: 12px;
    overflow: hidden;

    $overflow-fade-width: 10px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      pointer-events: none;
      background: linear-gradient(
        90deg,
        white,
        rgba(white, 0%) $overflow-fade-width,
        rgba(white, 0%) calc(100% - #{$overflow-fade-width}),
        white
      );
    }
    .chapter_select_option_container {
      transition: transform 0.3s;
      padding: 0 $overflow-fade-width;

      .chapter_select_option {
        box-sizing: content-box;
        transition: background-color 0.2s;
        padding: 10px 20px;
        &[data-selected] {
          border-bottom: solid 5px $accent;
        }
        &:focus,
        &:hover {
          outline: 0;
          background-color: rgba($primary-dark, 0.2);
        }

        padding: 6px 10px;
        img {
          height: 36px;
          width: 36px;
        }
        @include screen('tablet') {
          padding: 10px 20px;
          img {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}
