@import '../../../variables.scss';

.root {
  display: flex;
  flex-direction: column;
}

.chapter_select_ribbon {
  width: 100%;
  white-space: nowrap;
  border-bottom: solid 1px lightgray;
  margin-bottom: 12px;
  overflow: hidden;

  .chapter_select_option_container {
    transition: transform 0.3s;

    .chapter_select_option {
      box-sizing: content-box;
      transition: background-color 0.2s;
      padding: 10px 20px;
      &.selected {
        border-bottom: solid 5px $accent;
      }
      &:focus,
      &:hover {
        outline: 0;
        background-color: rgba($primary-dark, 0.2);
      }
    }
    .chapter_select_option:first-child {
      margin-left: 0;
    }
  }
}
