@import '../../../variables.scss';

.root {
  height: 400px;
  margin-bottom: -100px;
  overflow: hidden;
  @include screen('tablet') {
    margin-bottom: -80px;
  }
}

.b1 {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 1;
  border-bottom-left-radius: 90px;
  @include screen('tablet') {
    display: block;
    right: calc(-57% + 75px);
    transform: skew(-20deg);
    img {
      position: absolute;
      left: -57px;
      top: 0;
      overflow-x: visible;
      height: 100%;
      min-width: 57vw;
      transform: skew(20deg);
      object-fit: cover;
    }
  }
}

.b2 {
  position: absolute;
  height: 70%;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  @include screen('tablet') {
    width: 57vw;
  }

  &::after {
    content: '';
    @include absolute-cover;
    background: linear-gradient(to right, rgba(lighten($primary, 10), 0.6), rgba($primary, 0.6));
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.mission {
  display: flex;
  justify-content: center;
  p {
    font-size: 28px;
    max-width: 600px;
    padding: 24px 0;
    &:before {
      @include angle-bracket-accent('top-right', 18px);
      right: -24px;
    }
    &:after {
      @include angle-bracket-accent('bottom-left', 18px);
      left: -32px;
    }
  }
}
