@import '../../variables.scss';

.card_root {
  position: relative;
  background: linear-gradient(180deg, rgba(215, 253, 255, 1) 0%, $primary 100%);
  margin-right: 35px;
  margin-bottom: 50px;
  width: 250px;
}

.card_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_content {
  padding: 20px;
}

.card_icon {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: $secondary;
  box-shadow: -5px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -20px;
  right: -10px;
  font-size: 30px;
}

.card_button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
