@import '../../../variables.scss';

.angle_bracket_wrapper {
  padding: 24px;
  &::before {
    @include angle-bracket-accent('top-right');
  }
  &::after {
    @include angle-bracket-accent('bottom-left');
  }
  .shadow_wrapper {
    @include dotted-shadow;

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}
