@import '../../variables.scss';

.switch_control {
  display: flex;
  flex-direction: column;
  @include screen('tablet') {
    flex-direction: row;
  }
  a {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    color: $neutral;
    border-radius: 30px;
    padding: 6px 20px;
    transition: background-color 400ms;
    &:hover {
      background-color: lighten($accent, 45);
      text-decoration: none;
    }
    &.selected {
      color: $accent;
      background-color: lighten($accent, 40);
    }

    margin-bottom: 20px;
    @include screen('tablet') {
      margin-bottom: 0;
      a {
        text-align: left;
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}

.requirements {
  padding-bottom: 50px;
  width: 100%;
  @include screen('tablet-wide') {
    width: 45%;
  }
}

.image_wrap {
  display: none;
  @include screen('tablet-wide') {
    display: block;
    margin-right: 20px;
  }
}

.image {
  object-fit: cover;
}

.link_button {
  width: 180px;
}
