@import '../../variables.scss';

.mission {
  font-size: 20px;
  padding: 12px 0;
  &:before {
    @include angle-bracket-accent('top-right', 18px);
    right: -24px;
  }
  &:after {
    @include angle-bracket-accent('bottom-left', 18px);
    left: -32px;
  }
}

.orgs {
  padding-left: 0;
  li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 6px;
  }
}

.affiliation {
  height: 100px;
  margin-right: 50px;
  margin-bottom: 20px;
}
