@import '../../variables.scss';

.card_row {
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  @include screen('tablet-wide') {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
