@import '../../../variables.scss';

.header {
  transition: background-color 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $nav-height;
  z-index: 9999;
  display: flex;
  align-items: center;

  &.with_background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.8);
    backdrop-filter: blur(8px);
  }
}

.nav_container {
  width: 100%;

  @include container;
  font-size: 20px;

  display: inherit;
  align-items: inherit;

  .logo_link {
    margin-right: auto;

    img {
      vertical-align: middle;
      height: 40px;
      z-index: 9999;
      width: auto;
    }
  }

  .dropdown_link_container {
    display: inherit;
    align-items: inherit;

    a + a {
      margin-left: 10px;
    }
    a,
    a:visited {
      display: inline-block;
      color: $primary-dark;
      text-decoration: none;
      padding: 10px 20px;
      border-radius: $border-radius;
      transition: color 0.2s;

      &:hover {
        color: $accent;
      }
      &.active_route {
        color: $accent;
        font-weight: bold;
      }
    }
  }

  @media (max-width: $nav-breakpoint) {
    .dropdown_link_container {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      margin: 0;
      padding-left: 7vw;
      padding-right: 7vw;

      height: 100vh;
      /* fix mobile nav height on mobile safari */
      height: -webkit-fill-available;
      overflow: hidden;

      transform: translateY(-100%); /* hide until mobile nav toggled */
      transition: transform 0.3s, opacity 0.4s;
      opacity: 0;
      background: rgba($primary, 0.7);
      backdrop-filter: blur(10px);

      a,
      a:visited {
        font-size: $h3;
        font-weight: bold;
        padding-right: 0;
      }

      a + a {
        margin: 0;
        margin-top: 40px;
      }
    }

    &.nav_toggled > .dropdown_link_container {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.mobile_dropdown_toggle {
  height: 24px;
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;

  @media (min-width: $nav-breakpoint) {
    display: none;
  }

  * {
    border-bottom: 4px solid $primary-dark;
    transition: transform 0.2s, opacity 0.2s;
  }

  .stripe_top {
    transform-origin: top right;
  }

  .stripe_bottom {
    transform-origin: bottom right;
  }

  &.toggled {
    .stripe_top {
      transform: rotate(-45deg);
    }
    .stripe_middle {
      transform: scaleX(0);
    }
    .stripe_bottom {
      transform: rotate(45deg);
    }
  }
}
