@import '../../../variables.scss';

.root {
  .about_chapter_container {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;

    @include screen('tablet') {
      flex-direction: row;
      justify-content: space-between;
    }

    .text_content {
      flex: 1;

      .contact {
        color: $accent;
        font-weight: bold;
      }
    }

    .image {
      max-width: 500px;

      @include screen('tablet') {
        max-width: 50%;
      }
    }
  }
}
