@import '../../../variables.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 60px;
  @include screen('tablet') {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .image {
    max-height: 300px;
    margin-bottom: 12px;
    object-fit: cover;
    border-radius: $border-radius;
    border: solid $border-width $primary;

    @include screen('tablet') {
      width: 400px;
      max-width: 40%;
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  .text_container {
    max-width: 700px;

    .title {
      font-size: $h3;
    }
    .tags {
      margin-top: 12px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .tag {
      background-color: $secondary;
      text-align: center;
      font-size: 12px;
      padding: 6px 10px;
      border-radius: 20px;
      color: $primary-dark;
      text-transform: uppercase;
      margin-right: 12px;
      margin-top: 6px;
    }
    > a {
      font-size: $body;
    }
  }
}
